DRIVE_datasets_training_testing/DRIVE_dataset_borderMasks_test.hdf5 DRIVE_datasets_training_testing/DRIVE_dataset_borderMasks_train.hdf5 DRIVE_datasets_training_testing/DRIVE_dataset_groundTruth_test.hdf5 DRIVE_datasets_training_testing/DRIVE_dataset_groundTruth_train.hdf5 DRIVE_datasets_training_testing/DRIVE_dataset_imgs_test.hdf5 DRIVE_datasets_training_testing/DRIVE_dataset_imgs_train.hdf5 src/val_imgs.npy src/val_masks.npy src/train_imgs.npy src/train_masks.npy src/dlwork/*
